@model List<OsnTestApp.Data.Student>

@{
    ViewData["Title"] = "Index";

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Students List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Student" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-square"></i> &nbsp; Add New Student
            </a>
        </div>
    </div>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Parent Name</th>
                <th>Parent Phone</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.DateOfBirth</td>
                    <td>@student.Address</td>
                    <td>@student.Parent.Name</td>
                    <td>@student.Parent.Phone</td>
                    <td><a href="Student/View/@student.Id">View</a></td>
                    <td>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Subject</th>
                                    <th>Term</th>
                                    <th>Mark</th>
                                    <th>Absent</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mark in student.Marks)
                                {
                                    <tr>
                                        <td>@mark.SubjectName</td>
                                        <td>@mark.Term</td>
                                        <td>@mark.Mark</td>
                                        <td>@mark.IsAbsent</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}