@model List<OsnTestApp.Data.Student>


<table class="table table-bordered table-striped table-striped-columns mt-5" style="width:100%;">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Subject</th>
            <th>Marks</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            
                @foreach (var mark in student.Marks)
                {
                <tr>
                    <td>@student.Name</td>
                    <td>@student.DateOfBirth</td>
                    <td>@student.Address</td>
                    <td>@mark.SubjectName</td>
                    <td>@mark.Mark</td>
                </tr>
                
                }            
        }
    </tbody>
</table>
